header
{
    background-color:
    #333; color: #fff;
    padding: 10px 0;
}
nav ul
{
    list-style:
    none; display: flex;
    justify-content: center;
}
ul li
{
    margin: 0 20px;
}
ul li a
{
    text-decoration: none;
    color: #fff;
}
body
{
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
}
.container
{
    max-width: 100%;
}
footer
{
    text-align: center;
    padding: 10px;
    background-color:
    #333; color: #fff;
}